.projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 3rem 0;
}
.projects-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.projects-title hr{
    background-color: var(--color-tertiary);
    margin: .8rem 0 .5rem 0;
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}
.project-card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem;
    font-size: clamp(.8rem, 1vw, 1rem);
}
.project-card-content img{
    height: 100%;
    max-height: 230px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #fadcffbf;
    padding: 0 0 .1rem ;
}
.project-card-info{
    border-top: 0;
    padding: 1rem;
}
.project-card-info:hover{
    border-top: 0;
}
.project-card-info p{
    font-family: var(--links-font-family);
}
.project-links{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0 ;
}
.project-links a{
    background-color: white;
    border: 1px solid var(--color-tertiary);
    padding: .5rem;
}
.project-links a:hover{
    background-color: var(--color-tertiary);
    cursor: pointer;
}
.react-multi-carousel-list{
    width: 90%;
    margin: 0 auto;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1200px){
    .project-cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .project-card-content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        height: 100%;
    }
    .project-card-content img{
        height: 300px;
        max-height: 500px;
        width: 50%;
        object-fit: cover;
        border: none;
        padding: 0 0 .1rem ;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 600px){
    /* Make the cards stack on mobile but still be displayed horizontally when larger screens are used*/
    .project-cards{
        width: 100%;
    }
}