.header-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 90vh;
}
.header-container .blob{
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 40%;
    z-index: 1;
}
.header-title{
    text-align: center;
    position: relative;
}
.header-title h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
    padding-bottom: 1rem;
    font-family: var(--font-family);
    color: var(--color-quinary);
    width: auto;
}
/* animate the h1 title with colors on hover */
.header-title h1:hover{
    animation: animate 2s ease-in-out infinite;
    /* custom green dot cursor */
}
@keyframes animate{
    0%{
        color: #cab1fc;
    }
    50%{
        color: #b9a2ec;
    }
    100%{
        color: #b1cefc;
    }
}
.header-title .typed-text{
    color: #0f0129;
    font-weight: 400;
    font-family: var(--font-family);
}
.header-title p{
    width: 60%;
    margin: 1rem auto 0;
    padding-bottom: 2rem;
    color: #000000;
}
.header-title .Typewriter span{
    color: var(--color-quinary);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}
.header-social-links{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
    margin: auto;
}
.header-social-links a{
    margin: 0 1rem;
    cursor: pointer;
}

.header-social-links a:hover,
.header-social-links a:hover svg{
    color: var(--color-secondary);
    fill: var(--color-secondary);
}
.resume-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 4rem auto;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-quinary);
    border-radius: 5px;
}
.resume-box:hover{
    background-color: var(--color-quinary);
    cursor: pointer;
}
.resume-box:hover a button{
    color: white;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px){
    .header-container{
        height: 80vh;
    }
    .header-title p{
        width: 80%;
    }
}
